openapi: 3.0.0
info:
  title: TigerMeter Cloud API v5
  description: |
    API v5 — bitmap display microservice. Pure frame-delivery gateway:
    the customer backend pushes pre-rendered 1-bit frames (384x168), devices
    pull them on heartbeat and rotate locally by `durationSec`.

    All routes are prefixed with `/api/v5/`. Old unversioned routes (v2, text
    instructions, user JWT) were removed.

    Auth:
    - Service tokens (`Authorization: Bearer sk-...`) — configured via
      `SERVICE_TOKENS` env, scopes: `ops` (full fleet admin) / `manage`
      (tenant-scoped control plane).
    - Device secret (`Authorization: Bearer ds_...`) — device heartbeat.
    - No user JWTs.
  version: 5.0.0
  x-language: ru
servers:
  - url: https://api-tiger.rd1.io/api/v5
    description: Prod
  - url: http://localhost:3001/api/v5
    description: Local
security:
  - serviceAuth: []
tags:
  - name: Portal
    description: Контрольная плоскость (service token, scope=manage)
  - name: Device
    description: Эндпоинты устройства (device secret или HMAC)
  - name: Admin
    description: Ops-плоскость (service token, scope=ops)
paths:
  # ================= DEVICE CLAIMS =================
  /device-claims:
    post:
      tags: [Device]
      summary: Запросить код привязки (устройство)
      description: |
        Устройство запрашивает 6-значный код привязки (TTL 5 минут).
        Защищено HMAC (mac + firmwareVersion + timestamp).
      operationId: issueClaimCode
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClaimCodeIssueRequest'
      responses:
        '201':
          description: Код привязки выдан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimCodeIssueResponse'
        '400': { description: 'mac required / invalid mac format / hmac and timestamp required' }
        '401': { description: invalid hmac }
        '404': { description: device not found (auto-provision off) }
        '429': { description: Too Many Requests (20/min/IP) }
  /device-claims/{code}/attach:
    post:
      tags: [Portal]
      summary: Привязать код к тенанту (service token, scope=manage)
      description: |
        Бэкенд интегратора привязывает ожидающий код к своему тенанту.
        Устанавливает `Device.tenantId` (из токена), `externalUserId` (из тела),
        `status=active`. Секрет НЕ генерируется здесь — он выдаётся лениво
        при первом poll устройства. Welcome-инструкция не создаётся.
        Rate limit: 5 попыток/мин/IP (анти-брутфорс 6-значного кода).
      operationId: attachClaimCode
      parameters:
        - name: code
          in: path
          required: true
          schema: { type: string }
          description: 6-значный код привязки
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachRequest'
      responses:
        '200':
          description: Код привязан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachResponse'
        '400': { description: 'Invalid code / Expired code' }
        '401': { description: Missing or invalid service token }
        '403': { description: 'Scope manage required' }
        '409': { description: Already claimed }
        '429': { description: Too Many Requests (5/min/IP) }
  /device-claims/{code}/poll:
    get:
      tags: [Device]
      summary: Опрос статуса кода привязки (устройство)
      description: |
        Устройство опрашивает код чтобы получить секрет после attach.
        При первом переходе в claimed секрет ГЕНЕРИРУЕТСЯ (лениво) и
        возвращается один раз. Повторные poll → 404.
      operationId: pollClaimCode
      security: []
      parameters:
        - name: code
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Привязано; секрет выдан (одноразово)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimPollClaimed'
        '202':
          description: Ожидание (код ещё не привязан)
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, enum: [pending] }
        '404': { description: Не найдено / секрет уже выдан }
        '410': { description: Истёк срок действия }
        '429': { description: Too Many Requests (60/min/IP) }
  /devices/provision:
    post:
      tags: [Device]
      summary: Предварительная регистрация устройства (dev-only)
      description: |
        Dev-эндпоинт: создаёт устройство в статусе `awaiting_claim` по MAC.
        Без аутентификации — только для отладки/эмулятора, в проде не используется.
      operationId: provisionDevice
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [mac, firmwareVersion]
              additionalProperties: false
              properties:
                mac: { type: string, description: 'MAC адрес, формат AA:BB:CC:DD:EE:FF' }
                firmwareVersion: { type: string }
      responses:
        '201':
          description: Устройство создано
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string }
                  mac: { type: string }
                  status: { type: string }
        '400': { description: mac required / invalid mac format }
        '409': { description: device already exists }
  # ================= PORTAL (scope=manage) =================
  /devices:
    get:
      tags: [Portal]
      summary: Список устройств тенанта
      description: Только устройства с `tenantId` равным тенанту токена. Без `displayFramesJson`.
      operationId: listTenantDevices
      responses:
        '200':
          description: Устройства
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Device'
        '401': { description: Missing or invalid service token }
  /devices/{id}:
    get:
      tags: [Portal]
      summary: Детали устройства (tenant-scoped)
      operationId: getDevice
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Подробности устройства
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        '404': { description: Не найдено или чужой тенант }
    patch:
      tags: [Portal]
      summary: Обновить устройство (name/autoUpdate/demoMode)
      operationId: patchDevice
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DevicePatch'
      responses:
        '200':
          description: Обновлено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevicePatchResponse'
        '400': { description: No fields to update / validation error }
        '404': { description: Не найдено или чужой тенант }
  /devices/{id}/display:
    put:
      tags: [Portal]
      summary: Установить bitmap-кадры
      description: |
        Заменяет текущий набор кадров. Валидация strict (неизвестные ключи → 400).
        Считает `displayHash = sha256(canonical(frames + refreshInterval))`,
        персистит `displayFramesJson`, инкрементит `displayVersion`.
      operationId: setDisplayFrames
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisplayFramesPayload'
      responses:
        '200':
          description: Принято
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisplayPutResponse'
        '400': { description: 'Ошибка валидации (frames/bitmap/durationSec/refreshInterval/unknown key)' }
        '404': { description: Не найдено или чужой тенант }
  /devices/{id}/revoke:
    post:
      tags: [Portal]
      summary: Отозвать устройство (tenant-scoped)
      operationId: revokeDevice
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Устройство отозвано
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: revoked }
        '404': { description: Не найдено или чужой тенант }
  # ================= DEVICE (device secret) =================
  /devices/{id}/heartbeat:
    post:
      tags: [Device]
      summary: Хартбит
      description: |
        Возвращает кадры только если `displayHash` изменился или отсутствует.
        Hash совпал → базовая структура без frames. `displayFramesJson IS NULL` →
        `frames:[]` (устройство показывает "waiting for content").
      operationId: heartbeat
      security:
        - deviceSecretAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HeartbeatRequest'
      responses:
        '200':
          description: Результат хартбита
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/HeartbeatBase'
                  - $ref: '#/components/schemas/HeartbeatWithFrames'
        '401': { description: Invalid or expired secret }
        '403': { description: Device revoked }
        '404': { description: Device not found }
  /devices/{id}/display/hash:
    get:
      tags: [Device]
      summary: Получить текущий displayHash
      operationId: getDisplayHash
      security:
        - deviceSecretAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Текущий хеш
          content:
            application/json:
              schema:
                type: object
                properties:
                  hash: { type: string, description: Хеш текущих кадров (может быть пустым) }
        '401': { description: Invalid or expired secret }
        '404': { description: Device not found }
  /devices/{id}/display/full:
    get:
      tags: [Device]
      summary: Получить полные кадры (debug)
      operationId: getDisplayFull
      security:
        - deviceSecretAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
        - name: ifHash
          in: query
          schema: { type: string }
          description: Если совпадает с текущим хешем → 304
      responses:
        '200':
          description: Кадры
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisplayFramesPayload'
        '304': { description: Не изменилось }
        '404': { description: Не найдено / нет кадров }
  /devices/{id}/secret/refresh:
    post:
      tags: [Device]
      summary: Обновить секрет устройства
      operationId: refreshSecret
      security:
        - deviceSecretAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Новый секрет (старый действует ещё ~5 мин)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimPollClaimed'
        '401': { description: Invalid or expired secret }
        '404': { description: Device not found }
  # ================= ADMIN (scope=ops) =================
  /admin/me:
    get:
      tags: [Admin]
      summary: Информация о service token
      operationId: me
      responses:
        '200':
          description: Тенант и скоуп токена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeResponse'
        '401': { description: Missing or invalid service token }
  /admin/devices:
    get:
      tags: [Admin]
      summary: Все устройства (все тенанты)
      description: |
        Оps-список: все устройства всех тенантов с `tenantId` и `externalUserId`.
        Кадры устройства — через GET /admin/devices/{id}/display.
      operationId: adminListDevices
      parameters:
        - name: tenantId
          in: query
          schema: { type: string }
          description: Фильтр по тенанту
        - name: status
          in: query
          schema: { type: string, enum: [awaiting_claim, active, revoked] }
          description: Фильтр по статусу
        - name: lastSeenBefore
          in: query
          schema: { type: string, format: date-time }
        - name: lastSeenAfter
          in: query
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: Список устройств
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeviceAdmin'
        '401': { description: Missing or invalid service token }
        '403': { description: Scope ops required }
  /admin/devices/{id}/display:
    get:
      tags: [Admin]
      summary: Кадры устройства (ops debug)
      operationId: adminGetDeviceDisplay
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Кадры
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisplayFramesPayload'
        '404': { description: Не найдено или нет кадров }
  /admin/devices/{id}/revoke:
    post:
      tags: [Admin]
      summary: Принудительный отзыв устройства
      operationId: adminRevoke
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Отозвано
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: revoked }
        '404': { description: Не найдено }
  /admin/devices/{id}:
    delete:
      tags: [Admin]
      summary: Удалить устройство
      operationId: adminDeleteDevice
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Удалено
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted: { type: boolean, example: true }
        '404': { description: Не найдено }
  /admin/devices/{id}/factory-reset:
    post:
      tags: [Admin]
      summary: Очередь factory reset
      description: Устройство сбросится при следующем хартбите.
      operationId: adminFactoryReset
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Сброс поставлен в очередь
          content:
            application/json:
              schema:
                type: object
                properties:
                  queued: { type: boolean, example: true }
        '400': { description: Device must be active to queue factory reset }
        '404': { description: Не найдено }
  /admin/devices/{id}/settings:
    patch:
      tags: [Admin]
      summary: Обновить настройки устройства (autoUpdate/demoMode)
      operationId: adminPatchDeviceSettings
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceSettings'
      responses:
        '200':
          description: Обновлено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceSettingsResponse'
        '404': { description: Не найдено }
  /admin/settings:
    get:
      tags: [Admin]
      summary: Глобальные настройки
      operationId: adminGetSettings
      responses:
        '200':
          description: Настройки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminSettings'
    patch:
      tags: [Admin]
      summary: Обновить глобальные настройки (auto-provision)
      operationId: adminPatchSettings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminSettingsPatch'
      responses:
        '200':
          description: Обновлено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminSettings'
  /admin/pending-devices:
    get:
      tags: [Admin]
      summary: Список ожидающих одобрения устройств
      operationId: adminListPending
      responses:
        '200':
          description: Pending-устройства
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PendingDevice'
  /admin/pending-devices/{id}/approve:
    post:
      tags: [Admin]
      summary: Одобрить pending-устройство
      description: |
        Создаёт Device с `status=awaiting_claim` и присваивает тенант из тела
        (`{"tenantId":"tigermeter"}`). Привязка происходит позже через attach.
      operationId: adminApprovePending
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovePendingRequest'
      responses:
        '200':
          description: Одобрено
          content:
            application/json:
              schema:
                type: object
                properties:
                  device:
                    type: object
                    properties:
                      id: { type: string }
                      mac: { type: string }
                      tenantId: { type: string }
        '404': { description: Не найдено }
        '409': { description: Already processed }
  /admin/pending-devices/{id}/reject:
    post:
      tags: [Admin]
      summary: Отклонить pending-устройство
      operationId: adminRejectPending
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Отклонено
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: rejected }
        '404': { description: Не найдено }
components:
  securitySchemes:
    serviceAuth:
      type: http
      scheme: bearer
      bearerFormat: Service Token
      description: 'Service token (sk-...) из SERVICE_TOKENS env. Скоупы: ops / manage.'
    deviceSecretAuth:
      type: http
      scheme: bearer
      bearerFormat: Device Secret
      description: Секрет устройства (ds_...), выдаётся при poll после attach.
  schemas:
    # ---------- Display frames ----------
    DisplayFrame:
      type: object
      required: [bitmap, ledColor, ledBrightness, durationSec]
      properties:
        bitmap:
          type: string
          description: 'base64, декодируется ровно в 8064 байта (384x168 1-bit packed, row-major, MSB-first, 1=white)'
          example: 'AAAA...'
        ledColor:
          type: string
          enum: [green, red, blue, yellow, cyan, magenta, white, rainbow, off]
          default: green
        ledBrightness:
          type: string
          enum: [low, mid, high, off]
          default: mid
        durationSec:
          type: integer
          minimum: 1
          maximum: 86400
          description: Время показа кадра (сек), ротация локальная
        beep:
          type: boolean
          default: false
          description: One-shot звуковой сигнал при первой загрузке
        flashCount:
          type: integer
          minimum: 0
          maximum: 10
          default: 0
          description: One-shot количество вспышек LED при первой загрузке
    DisplayFramesPayload:
      type: object
      required: [frames, refreshInterval]
      additionalProperties: false
      properties:
        frames:
          type: array
          minItems: 1
          maxItems: 8
          items:
            $ref: '#/components/schemas/DisplayFrame'
        refreshInterval:
          type: integer
          minimum: 10
          maximum: 3600
          description: Интервал heartbeat в секундах
    DisplayPutResponse:
      type: object
      properties:
        displayHash:
          type: string
          description: 'sha256:<hex> канонического JSON (frames + refreshInterval)'
        displayVersion:
          type: integer
          description: Монотонно растущая версия кадров
    # ---------- Devices ----------
    Device:
      type: object
      description: Устройство (control-plane, без displayFramesJson)
      properties:
        id: { type: string }
        mac: { type: string }
        name: { type: string, nullable: true, description: Человекочитаемая метка }
        tenantId: { type: string, nullable: true, description: Из service token при attach }
        externalUserId: { type: string, nullable: true, description: Opaque id клиента }
        status: { type: string, enum: [awaiting_claim, active, revoked] }
        lastSeen: { type: string, format: date-time, nullable: true }
        battery: { type: integer, nullable: true }
        rssi: { type: integer, nullable: true }
        firmwareVersion: { type: string, nullable: true }
        autoUpdate: { type: boolean }
        demoMode: { type: boolean }
        displayHash: { type: string, nullable: true }
        displayVersion: { type: integer }
        createdAt: { type: string, format: date-time }
    DeviceAdmin:
      allOf:
        - $ref: '#/components/schemas/Device'
        - type: object
          description: Ops-поля (только scope=ops). Кадры устройства — отдельно через GET /admin/devices/{id}/display.
          properties:
            deviceSecretHash: { type: string, nullable: true, description: Хеш текущего секрета }
    DevicePatch:
      type: object
      additionalProperties: false
      properties:
        name: { type: string, maxLength: 128 }
        autoUpdate: { type: boolean }
        demoMode: { type: boolean }
    DevicePatchResponse:
      type: object
      properties:
        id: { type: string }
        name: { type: string, nullable: true }
        autoUpdate: { type: boolean }
        demoMode: { type: boolean }
    DeviceSettings:
      type: object
      additionalProperties: false
      properties:
        autoUpdate: { type: boolean }
        demoMode: { type: boolean }
    DeviceSettingsResponse:
      type: object
      properties:
        id: { type: string }
        autoUpdate: { type: boolean }
        demoMode: { type: boolean }
    PendingDevice:
      type: object
      properties:
        id: { type: string }
        mac: { type: string }
        firmwareVersion: { type: string, nullable: true }
        ip: { type: string, nullable: true }
        firstSeen: { type: string, format: date-time }
        lastSeen: { type: string, format: date-time }
        attemptCount: { type: integer }
        status: { type: string }
    ApprovePendingRequest:
      type: object
      required: [tenantId]
      additionalProperties: false
      properties:
        tenantId: { type: string, maxLength: 64, example: tigermeter }
    # ---------- Heartbeat ----------
    HeartbeatRequest:
      type: object
      additionalProperties: false
      properties:
        battery: { type: integer }
        rssi: { type: integer }
        ip: { type: string }
        firmwareVersion: { type: string }
        uptimeSeconds: { type: integer }
        displayHash: { type: string, description: Хеш, который устройство считает актуальным }
    HeartbeatBase:
      type: object
      description: Hash совпал (или нет контента) — без кадров
      properties:
        ok: { type: boolean, example: true }
        autoUpdate: { type: boolean }
        demoMode: { type: boolean }
        latestFirmwareVersion: { type: integer }
        firmwareDownloadUrl: { type: string }
    HeartbeatWithFrames:
      allOf:
        - $ref: '#/components/schemas/HeartbeatBase'
        - type: object
          properties:
            frames:
              type: array
              items:
                $ref: '#/components/schemas/DisplayFrame'
              description: 'Пустой массив = "waiting for content"'
            refreshInterval: { type: integer }
            displayHash: { type: string, nullable: true }
    # ---------- Claims ----------
    ClaimCodeIssueRequest:
      type: object
      required: [mac, timestamp, hmac]
      additionalProperties: false
      properties:
        mac: { type: string, description: 'MAC адрес, формат AA:BB:CC:DD:EE:FF' }
        firmwareVersion: { type: string }
        ip: { type: string }
        timestamp: { type: integer, description: Unix ms, участвует в HMAC }
        hmac: { type: string, description: HMAC-SHA256(mac:firmwareVersion:timestamp) }
    ClaimCodeIssueResponse:
      type: object
      properties:
        code: { type: string, description: 6-значный код }
        expiresAt: { type: string, format: date-time }
    AttachRequest:
      type: object
      required: [externalUserId]
      additionalProperties: false
      properties:
        externalUserId: { type: string, maxLength: 128, description: Opaque id пользователя клиента }
    AttachResponse:
      type: object
      properties:
        deviceId: { type: string }
        message: { type: string, example: Attached }
        tenantId: { type: string }
    ClaimPollClaimed:
      type: object
      description: Одноразовый ответ; содержит секрет (только первый poll после attach)
      properties:
        deviceId: { type: string }
        deviceSecret: { type: string, description: Plaintext секрет (показывается один раз) }
        displayHash: { type: string, nullable: true }
        expiresAt: { type: string, format: date-time }
    # ---------- Admin ----------
    MeResponse:
      type: object
      properties:
        tenantId: { type: string }
        scope: { type: string, enum: [ops, manage] }
    AdminSettings:
      type: object
      properties:
        autoProvisionNewDevices: { type: boolean }
    AdminSettingsPatch:
      type: object
      additionalProperties: false
      properties:
        autoProvisionNewDevices: { type: boolean }
