openapi: 3.0.0
info:
  title: TigerMeter Cloud API v5
  description: |
    API v5 — микросервис доставки bitmap на e-paper. Шлюз кадров:
    бэкенд интегратора отправляет готовые 1-bit кадры (384×168, до 8 в наборе),
    устройства забирают их на heartbeat. Ротацию по `durationSec` ведёт сервер:
    устройство всегда получает один текущий кадр (см. PUT /devices/{id}/display).

    Все маршруты с префиксом `/api/v5/`. Старые неверсионированные маршруты
    (v2, текстовые инструкции, user JWT) удалены. Исключение: прошивка ≤ v36
    собрана с `/api/`, поэтому `POST /device-claims`, `GET /device-claims/{code}/poll`
    и `POST /devices/{id}/heartbeat` доступны и под `/api/` (только эти три).

    Лимиты эндпоинтов устройства считаются по MAC / коду / id устройства, а не по IP
    (партия устройств может стоять за одним NAT). Превышение — всегда 429, не 403.

    Аутентификация:
    - Service tokens (`Authorization: Bearer sk-...`) — через env
      `SERVICE_TOKENS`, scope: `ops` (полный admin флота) / `manage`
      (control plane в рамках tenant).
    - Device secret (`Authorization: Bearer ds_...`) — heartbeat устройства.
    - User JWT не используется.
  version: 5.0.0
  x-language: ru
servers:
  - url: https://api-tiger.rd1.io/api/v5
    description: Прод
  - url: http://localhost:3001/api/v5
    description: Локально
security:
  - serviceAuth: []
tags:
  - name: Portal
    description: Контрольная плоскость (service token, scope=manage)
  - name: Device
    description: Эндпоинты устройства (device secret или HMAC)
  - name: Admin
    description: Ops-плоскость (service token, scope=ops)
paths:
  # ================= DEVICE CLAIMS =================
  /device-claims:
    post:
      tags: [Device]
      summary: Запросить код привязки (устройство)
      description: |
        Устройство запрашивает 6-значный код привязки (TTL 5 минут).
        Защищено HMAC (mac + firmwareVersion + timestamp). `timestamp` — unix ms,
        принимается в окне ±5 минут; повтор того же `hmac` отклоняется.
        Прошивка ≤ v36 шлёт время с момента включения — принимается, пока
        `ALLOW_LEGACY_CLAIM_TIMESTAMPS=true`. Предыдущий непривязанный код
        устройства аннулируется.

        При включённом `autoUpgradeOutdatedDevices`, если `firmwareVersion` ниже
        `LATEST_FIRMWARE_VERSION`, а устройство не принадлежит тенанту, код сразу
        привязывается к тенанту `staging` (устройство создаётся, даже если
        auto-provision выключен). Так устройство получает секрет на первом poll и
        обновляется по OTA. См. docs/claim-flow.md.
      operationId: issueClaimCode
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClaimCodeIssueRequest'
      responses:
        '201':
          description: Код привязки выдан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimCodeIssueResponse'
        '400': { description: 'mac обязателен / неверный формат MAC / hmac и timestamp обязательны' }
        '401': { description: 'Неверный HMAC / timestamp вне окна / повтор запроса' }
        '404': { description: Устройство не найдено (auto-provision выключен) }
        '429': { description: 'Слишком много запросов (30/мин на MAC, 1500/мин на IP)' }
        '503': { description: Не удалось подобрать свободный код, повторить позже }
  /device-claims/{code}/attach:
    post:
      tags: [Portal]
      summary: Привязать код к тенанту (service token, scope=manage)
      description: |
        Бэкенд интегратора привязывает ожидающий код к своему тенанту.
        Устанавливает `Device.tenantId` (из токена), `externalUserId` (из тела),
        `status=active`. Секрет НЕ генерируется здесь — он выдаётся лениво
        при первом poll устройства. Welcome-инструкция не создаётся.
        Rate limit: 120 попыток/мин на service token (`ATTACH_RATE_LIMIT_PER_MINUTE`).
        Перебор кода отдельным пользователем ограничивает бэкенд интегратора.
        Тенант `staging` зарезервирован для автообновления: токен с ним получает 400.
        Ops-админ привязывает от имени любого тенанта через POST /admin/device-claims/{code}/attach.
      operationId: attachClaimCode
      parameters:
        - name: code
          in: path
          required: true
          schema: { type: string }
          description: 6-значный код привязки
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachRequest'
      responses:
        '200':
          description: Код привязан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachResponse'
        '400': { description: 'Неверный код (Invalid code) / истёкший код (Expired code) / тенант зарезервирован (Tenant is reserved)' }
        '401': { description: Service token отсутствует или неверный }
        '403': { description: 'Требуется scope manage' }
        '409': { description: Уже привязан }
        '429': { description: Слишком много запросов (120/мин на token) }
  /device-claims/{code}/poll:
    get:
      tags: [Device]
      summary: Опрос статуса кода привязки (устройство)
      description: |
        Устройство опрашивает код чтобы получить секрет после attach.
        При первом переходе в claimed секрет ГЕНЕРИРУЕТСЯ (лениво) и
        возвращается один раз. Повторные poll → 404.
      operationId: pollClaimCode
      security: []
      parameters:
        - name: code
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Привязано; секрет выдан (одноразово)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimPollClaimed'
        '202':
          description: Ожидание (код ещё не привязан)
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, enum: [pending] }
        '404': { description: Не найдено / секрет уже выдан }
        '410': { description: Истёк срок действия }
        '429': { description: 'Слишком много запросов (60/мин на код) или >30 неизвестных кодов/мин с IP' }
  /devices/provision:
    post:
      tags: [Admin]
      summary: Предварительная регистрация устройства (scope=ops)
      description: |
        Создаёт устройство в статусе `awaiting_claim` по MAC, минуя очередь pending.
        Требует service token со scope `ops`.
      operationId: provisionDevice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [mac, firmwareVersion]
              additionalProperties: false
              properties:
                mac: { type: string, description: 'MAC адрес, формат AA:BB:CC:DD:EE:FF' }
                firmwareVersion: { type: string }
      responses:
        '201':
          description: Устройство создано
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string }
                  mac: { type: string }
                  status: { type: string }
        '400': { description: mac обязателен / неверный формат MAC }
        '401': { description: Service token отсутствует или неверный }
        '403': { description: 'Требуется scope ops' }
        '409': { description: Устройство уже существует }
  # ================= PORTAL (scope=manage) =================
  /devices:
    get:
      tags: [Portal]
      summary: Список устройств тенанта
      description: Только устройства с `tenantId` равным тенанту токена. Без `displayFramesJson`.
      operationId: listTenantDevices
      responses:
        '200':
          description: Устройства
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Device'
        '401': { description: Service token отсутствует или неверный }
  /devices/{id}:
    get:
      tags: [Portal]
      summary: Детали устройства и состояние доставки кадров (tenant-scoped)
      description: |
        Телеметрия последнего heartbeat и доставка кадров: `displayHash` — текущие кадры на сервере,
        `deliveredDisplayHash` — кадры, отданные устройству в ответе heartbeat, `reportedDisplayHash` —
        хеш, который устройство прислало в последнем heartbeat (совпадает с `displayHash` со следующего
        heartbeat после доставки, т.е. кадры применены).
        Если устройство перезагружается сразу после получения кадров и не подтверждает их
        (`uptimeSeconds` меньше времени с доставки), растёт `displayRebootCount`; после 2 таких перезагрузок
        heartbeat перестаёт отдавать эти кадры (`displayBlocked: true`) до следующего PUT /display.
      operationId: getDevice
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Подробности устройства
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceState'
        '404': { description: Не найдено или чужой тенант }
    patch:
      tags: [Portal]
      summary: Обновить устройство (name/autoUpdate/demoMode)
      operationId: patchDevice
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DevicePatch'
      responses:
        '200':
          description: Обновлено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevicePatchResponse'
        '400': { description: Нет полей для обновления / ошибка валидации }
        '404': { description: Не найдено или чужой тенант }
  /devices/{id}/display:
    get:
      tags: [Portal]
      summary: Текущие кадры устройства (tenant-scoped)
      operationId: getDisplayFrames
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Кадры
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisplayFramesPayload'
        '404': { description: Не найдено, чужой тенант или кадров нет }
    put:
      tags: [Portal]
      summary: Установить bitmap-кадры
      description: |
        Заменяет текущий набор кадров. Валидация strict (неизвестные ключи → 400).
        Считает `displayHash = sha256(canonical(frames + refreshInterval))`,
        персистит `displayFramesJson`, инкрементит `displayVersion`, начинает круг ротации заново.

        Ротация кадров — на сервере: устройство (ESP32 без PSRAM) держит один кадр. Сервер считает текущий кадр
        по часам от момента PUT: `(now − displayUpdatedAt) mod Σ durationSec`, и на heartbeat отдаёт ровно один кадр
        (`frames: [текущий]`, `durationSec: 86400` — устройство держит его до следующего heartbeat) с `displayHash`
        этого кадра. `refreshInterval` в ответе подобран так, чтобы устройство пришло через ~1 с после смены кадра
        (не больше `refreshInterval` из PUT; при длинном кадре — равными шагами). Heartbeat, пришедший за ≤ 3 с до смены,
        уже получает следующий кадр. Точность ± несколько секунд; кадры короче 10 с растягиваются до 10 с
        (`ROTATION_MIN_FRAME_SEC`); без связи кадр на устройстве не меняется. `beep` и `flashCount` срабатывают
        только при первом показе каждого кадра после PUT; на следующих кругах и после перезагрузки устройства
        кадр приходит без них. Прошивкам ниже v38 (`MIN_FRAMES_FIRMWARE_VERSION`) кадры не отдаются — на платах без
        PSRAM они на кадрах падают; такие устройства обновляются по OTA.

        Доставка: `GET /devices/{id}` → `rotation` (текущий кадр по расписанию), `deliveredFrameIndex` (последний
        отданный кадр), `deviceFrameIndex` (кадр, хеш которого устройство прислало в последнем heartbeat = показывает).
        Для набора из одного кадра хеш доставки = `displayHash`, как раньше.
      operationId: setDisplayFrames
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisplayFramesPayload'
      responses:
        '200':
          description: Принято
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisplayPutResponse'
        '400': { description: 'Ошибка валидации (frames/bitmap/durationSec/refreshInterval/unknown key)' }
        '404': { description: Не найдено или чужой тенант }
  /devices/{id}/revoke:
    post:
      tags: [Portal]
      summary: Отозвать устройство (tenant-scoped)
      operationId: revokeDevice
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Устройство отозвано
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: revoked }
        '404': { description: Не найдено или чужой тенант }
  # ================= DEVICE (device secret) =================
  /devices/{id}/heartbeat:
    post:
      tags: [Device]
      summary: Хартбит
      description: |
        Возвращает кадры только если `displayHash` изменился или отсутствует.
        Hash совпал → базовая структура без frames. `displayFramesJson IS NULL` →
        `frames:[]` (устройство показывает "waiting for content").

        Устройство на тенанте `staging`, приславшее `firmwareVersion >= LATEST_FIRMWARE_VERSION`,
        освобождается: секрет удаляется, `tenantId=null`, `status=awaiting_claim`, ответ 401.
        Прошивка на 401 удаляет только свои учётные данные и запрашивает новый код.
      operationId: heartbeat
      security:
        - deviceSecretAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HeartbeatRequest'
      responses:
        '200':
          description: Результат хартбита
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/HeartbeatBase'
                  - $ref: '#/components/schemas/HeartbeatWithFrames'
        '401': { description: 'Секрет неверный или истёк / устройство обновилось и освобождено из staging' }
        '403': { description: Устройство отозвано }
        '404': { description: Устройство не найдено }
        '429': { description: Слишком много запросов (60/мин на устройство) }
  /devices/{id}/display/hash:
    get:
      tags: [Device]
      summary: Получить текущий displayHash
      operationId: getDisplayHash
      security:
        - deviceSecretAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Текущий хеш
          content:
            application/json:
              schema:
                type: object
                properties:
                  hash: { type: string, description: Хеш текущих кадров (может быть пустым) }
        '401': { description: Секрет неверный или истёк }
        '404': { description: Устройство не найдено }
  /devices/{id}/display/full:
    get:
      tags: [Device]
      summary: Получить полные кадры (debug)
      operationId: getDisplayFull
      security:
        - deviceSecretAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
        - name: ifHash
          in: query
          schema: { type: string }
          description: Если совпадает с текущим хешем → 304
      responses:
        '200':
          description: Кадры
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisplayFramesPayload'
        '304': { description: Не изменилось }
        '404': { description: Не найдено / нет кадров }
  /devices/{id}/secret/refresh:
    post:
      tags: [Device]
      summary: Обновить секрет устройства
      operationId: refreshSecret
      security:
        - deviceSecretAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Новый секрет (старый действует ещё ~5 мин)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimPollClaimed'
        '401': { description: Секрет неверный или истёк }
        '404': { description: Устройство не найдено }
  # ================= ADMIN (scope=ops) =================
  /admin/me:
    get:
      tags: [Admin]
      summary: Информация о service token
      operationId: me
      responses:
        '200':
          description: Тенант и скоуп токена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeResponse'
        '401': { description: Service token отсутствует или неверный }
  /admin/devices:
    get:
      tags: [Admin]
      summary: Все устройства (все тенанты)
      description: |
        Оps-список: все устройства всех тенантов с `tenantId` и `externalUserId`.
        Кадры устройства — через GET /admin/devices/{id}/display.
      operationId: adminListDevices
      parameters:
        - name: tenantId
          in: query
          schema: { type: string }
          description: Фильтр по тенанту
        - name: status
          in: query
          schema: { type: string, enum: [awaiting_claim, active, revoked] }
          description: Фильтр по статусу
        - name: lastSeenBefore
          in: query
          schema: { type: string, format: date-time }
        - name: lastSeenAfter
          in: query
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: Список устройств
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeviceAdmin'
        '401': { description: Service token отсутствует или неверный }
        '403': { description: Требуется scope ops }
  /admin/tenants:
    get:
      tags: [Admin]
      summary: Тенанты, от имени которых может действовать админ
      description: |
        Уникальные `tenantId` из `SERVICE_TOKENS`, у которых есть токен со scope `manage`, со скоупами их токенов.
        Не входят зарезервированный `staging` и служебные тенанты только с ops-токенами (например, `ops`).
        Сами токены не возвращаются. Используется формой привязки по коду в админке.
      operationId: adminListTenants
      responses:
        '200':
          description: Тенанты
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tenant'
        '401': { description: Service token отсутствует или неверный }
        '403': { description: Требуется scope ops }
  /admin/device-claims/{code}/attach:
    post:
      tags: [Admin]
      summary: Привязать код к выбранному тенанту (scope=ops)
      description: |
        То же, что POST /device-claims/{code}/attach, но тенант задаёт админ в теле: `tenantId`
        должен быть среди тенантов GET /admin/tenants; `staging` и тенанты только с ops-токенами запрещены (400 Tenant is reserved).
        `externalUserId` необязателен. Та же логика и те же ошибки (общий код), тот же лимит —
        120 попыток/мин на service token.
      operationId: adminAttachClaimCode
      parameters:
        - name: code
          in: path
          required: true
          schema: { type: string }
          description: 6-значный код привязки
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminAttachRequest'
      responses:
        '200':
          description: Код привязан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachResponse'
        '400': { description: 'Invalid code / Expired code / Tenant is reserved (staging или тенант только с ops-токенами) / Unknown tenant / ошибка валидации' }
        '401': { description: Service token отсутствует или неверный }
        '403': { description: Требуется scope ops }
        '409': { description: Уже привязан (Already claimed) }
        '429': { description: Слишком много запросов (120/мин на token) }
  /admin/devices/{id}/display:
    put:
      tags: [Admin]
      summary: Установить кадры от имени тенанта устройства (scope=ops)
      description: |
        Как PUT /devices/{id}/display, но для устройства любого тенанта (страница «Тест устройства»
        в админке). Устройство должно быть `active` и привязано к тенанту, не `staging`.
      operationId: adminSetDisplayFrames
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisplayFramesPayload'
      responses:
        '200':
          description: Принято
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisplayPutResponse'
        '400': { description: 'Ошибка валидации (frames/bitmap/durationSec/refreshInterval/unknown key)' }
        '403': { description: Требуется scope ops }
        '404': { description: Не найдено }
        '409': { description: 'Device is not attached to a tenant / Device is on the staging tenant for OTA' }
    get:
      tags: [Admin]
      summary: Кадры устройства (ops debug)
      operationId: adminGetDeviceDisplay
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Кадры
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisplayFramesPayload'
        '404': { description: Не найдено или нет кадров }
  /admin/devices/{id}/live:
    post:
      tags: [Admin]
      summary: Быстрый heartbeat на время теста (scope=ops)
      description: |
        Для тестов, где кадры меняются каждые несколько секунд (счётчик на странице «Тест устройства»).
        Пока сессия активна, сервер отдаёт устройству `refreshInterval = intervalSec` вместо обычного.
        Прошивка берёт интервал только из ответа с кадром, поэтому при старте и окончании сессии сервер
        один раз повторно отдаёт текущий кадр (v39 его не перерисовывает). По истечении `durationSec`
        или после DELETE устройство возвращается к обычному интервалу. Каждый heartbeat с новым кадром — ~11 КБ.
      operationId: adminStartLive
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                intervalSec: { type: integer, minimum: 2, maximum: 10, default: 3 }
                durationSec: { type: integer, minimum: 10, maximum: 900, default: 300 }
      responses:
        '200':
          description: Сессия запущена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSession'
        '400': { description: Ошибка валидации }
        '403': { description: Требуется scope ops }
        '404': { description: Не найдено }
        '409': { description: 'Device is not attached to a tenant / Device is on the staging tenant for OTA' }
    delete:
      tags: [Admin]
      summary: Завершить быстрый heartbeat (scope=ops)
      operationId: adminStopLive
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Сессия остановлена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSession'
        '404': { description: Не найдено }
  /admin/devices/{id}/revoke:
    post:
      tags: [Admin]
      summary: Принудительный отзыв устройства
      operationId: adminRevoke
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Отозвано
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: revoked }
        '404': { description: Не найдено }
  /admin/devices/{id}:
    get:
      tags: [Admin]
      summary: Детали устройства и состояние доставки кадров (любой тенант)
      operationId: adminGetDevice
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Подробности устройства
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceState'
        '403': { description: Требуется scope ops }
        '404': { description: Не найдено }
    delete:
      tags: [Admin]
      summary: Удалить устройство
      operationId: adminDeleteDevice
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Удалено
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted: { type: boolean, example: true }
        '404': { description: Не найдено }
  /admin/devices/{id}/factory-reset:
    post:
      tags: [Admin]
      summary: Очередь factory reset
      description: Устройство сбросится при следующем хартбите.
      operationId: adminFactoryReset
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Сброс поставлен в очередь
          content:
            application/json:
              schema:
                type: object
                properties:
                  queued: { type: boolean, example: true }
        '400': { description: Для factory reset устройство должно быть active }
        '404': { description: Не найдено }
  /admin/devices/{id}/settings:
    patch:
      tags: [Admin]
      summary: Обновить настройки устройства (name/autoUpdate/demoMode)
      operationId: adminPatchDeviceSettings
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceSettings'
      responses:
        '200':
          description: Обновлено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceSettingsResponse'
        '404': { description: Не найдено }
  /admin/settings:
    get:
      tags: [Admin]
      summary: Глобальные настройки
      operationId: adminGetSettings
      responses:
        '200':
          description: Настройки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminSettings'
    patch:
      tags: [Admin]
      summary: Обновить глобальные настройки (auto-provision, автообновление)
      operationId: adminPatchSettings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminSettingsPatch'
      responses:
        '200':
          description: Обновлено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminSettings'
  /admin/pending-devices:
    get:
      tags: [Admin]
      summary: Список ожидающих одобрения устройств
      operationId: adminListPending
      responses:
        '200':
          description: Pending-устройства
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PendingDevice'
  /admin/pending-devices/{id}/approve:
    post:
      tags: [Admin]
      summary: Одобрить pending-устройство
      description: |
        Создаёт Device с `status=awaiting_claim` и присваивает тенант из тела
        (`{"tenantId":"tigermeter"}`). Привязка происходит позже через attach.
      operationId: adminApprovePending
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovePendingRequest'
      responses:
        '200':
          description: Одобрено
          content:
            application/json:
              schema:
                type: object
                properties:
                  device:
                    type: object
                    properties:
                      id: { type: string }
                      mac: { type: string }
                      tenantId: { type: string }
        '404': { description: Не найдено }
        '409': { description: Уже обработано }
  /admin/pending-devices/{id}/reject:
    post:
      tags: [Admin]
      summary: Отклонить pending-устройство
      operationId: adminRejectPending
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Отклонено
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: rejected }
        '404': { description: Не найдено }
components:
  securitySchemes:
    serviceAuth:
      type: http
      scheme: bearer
      bearerFormat: Service Token
      description: 'Service token (sk-...) из SERVICE_TOKENS env. Скоупы: ops / manage.'
    deviceSecretAuth:
      type: http
      scheme: bearer
      bearerFormat: Device Secret
      description: Секрет устройства (ds_...), выдаётся при poll после attach.
  schemas:
    # ---------- Display frames ----------
    DisplayFrame:
      type: object
      required: [bitmap, ledColor, ledBrightness, durationSec]
      properties:
        bitmap:
          type: string
          description: 'base64, декодируется ровно в 8064 байта (384x168 1-bit packed, row-major, MSB-first, 1=white)'
          example: 'AAAA...'
        ledColor:
          type: string
          enum: [green, red, blue, yellow, cyan, magenta, white, rainbow, off]
          default: green
        ledBrightness:
          type: string
          enum: [low, mid, high, off]
          default: mid
        durationSec:
          type: integer
          minimum: 1
          maximum: 86400
          description: 'Время показа кадра, с. Ротацию ведёт сервер; фактически не меньше 10 с, точность ± несколько секунд'
        beep:
          type: boolean
          default: false
          description: One-shot звуковой сигнал при первом показе кадра после PUT (на следующих кругах ротации — нет)
        flashCount:
          type: integer
          minimum: 0
          maximum: 10
          default: 0
          description: One-shot вспышки LED при первом показе кадра после PUT (на следующих кругах ротации — нет)
        refreshMode:
          type: string
          enum: [auto, full, partial]
          default: auto
          description: |
            Прошивка v39+ (старые поле игнорируют). Как обновлять экран, когда кадр сменяет кадр:
            `auto` — частичное обновление (~0,4 с, без моргания), но полное (~2 с, с морганием, убирает
            остаточное изображение) каждые 30 частичных или 10 минут; `partial` — частичное, полное раз в 200;
            `full` — всегда полное. После системных экранов (Wi‑Fi, ошибка, код) обновление всегда полное;
            неизменившаяся картинка не перерисовывается.
    LiveSession:
      type: object
      properties:
        active: { type: boolean }
        until: { type: string, format: date-time, nullable: true }
        intervalSec: { type: integer, nullable: true }
    DisplayFramesPayload:
      type: object
      required: [frames, refreshInterval]
      additionalProperties: false
      properties:
        frames:
          type: array
          minItems: 1
          maxItems: 8
          items:
            $ref: '#/components/schemas/DisplayFrame'
        refreshInterval:
          type: integer
          minimum: 10
          maximum: 3600
          description: Максимальный интервал heartbeat, с. При нескольких кадрах сервер назначает интервал до ближайшей смены кадра
    DisplayPutResponse:
      type: object
      properties:
        displayHash:
          type: string
          description: 'sha256:<hex> канонического JSON (frames + refreshInterval)'
        displayVersion:
          type: integer
          description: Монотонно растущая версия кадров
    # ---------- Devices ----------
    Device:
      type: object
      description: Устройство (control-plane, без displayFramesJson)
      properties:
        id: { type: string }
        mac: { type: string }
        name: { type: string, nullable: true, description: Человекочитаемая метка }
        tenantId: { type: string, nullable: true, description: Из service token при attach }
        externalUserId: { type: string, nullable: true, description: Произвольный id клиента }
        status: { type: string, enum: [awaiting_claim, active, revoked] }
        lastSeen: { type: string, format: date-time, nullable: true }
        battery: { type: integer, nullable: true }
        rssi: { type: integer, nullable: true }
        firmwareVersion: { type: string, nullable: true }
        autoUpdate: { type: boolean }
        demoMode: { type: boolean }
        displayHash: { type: string, nullable: true }
        displayVersion: { type: integer }
        createdAt: { type: string, format: date-time }
    DeviceAdmin:
      allOf:
        - $ref: '#/components/schemas/Device'
        - type: object
          description: Ops-поля (только scope=ops). Кадры устройства — отдельно через GET /admin/devices/{id}/display.
          properties:
            ip: { type: string, nullable: true }
            reportedDisplayHash: { type: string, nullable: true, description: Хеш из последнего heartbeat устройства }
            deviceSecretHash: { type: string, nullable: true, description: Хеш текущего секрета }
    DeviceState:
      allOf:
        - $ref: '#/components/schemas/Device'
        - type: object
          description: Телеметрия и доставка кадров (GET /devices/{id}, GET /admin/devices/{id})
          properties:
            ip: { type: string, nullable: true }
            uptimeSeconds: { type: integer, nullable: true }
            displayUpdatedAt: { type: string, format: date-time, nullable: true, description: Время последнего PUT /display }
            deliveredDisplayHash: { type: string, nullable: true, description: Хеш кадров, отданных в ответе heartbeat }
            displayDeliveredAt: { type: string, format: date-time, nullable: true }
            reportedDisplayHash: { type: string, nullable: true, description: 'Хеш из последнего heartbeat; = displayHash → кадры применены' }
            displayRebootCount: { type: integer, description: 'Перезагрузки сразу после получения текущих кадров без подтверждения; сбрасывается при подтверждении и PUT /display' }
            diagnostics: { type: object, nullable: true, additionalProperties: true, description: 'Диагностика из последнего heartbeat (v38+), см. HeartbeatRequest.diag' }
            framesSupported: { type: boolean, description: 'false — прошивка ниже minFramesFirmwareVersion, кадры не отдаются до OTA' }
            minFramesFirmwareVersion: { type: integer }
            rotation:
              type: object
              nullable: true
              description: Расписание серверной ротации сейчас (null — кадров нет)
              properties:
                currentIndex: { type: integer, description: 'Индекс текущего кадра (с 0)' }
                cycleSec: { type: integer, nullable: true, description: 'Длина круга; null для одного кадра' }
                nextSwitchInSec: { type: integer, nullable: true }
                effectiveDurations: { type: array, items: { type: integer }, description: 'durationSec с учётом минимума' }
                minFrameSec: { type: integer }
            deliveredFrameIndex: { type: integer, nullable: true, description: 'Какой кадр набора отдан последним' }
            deviceFrameIndex: { type: integer, nullable: true, description: 'Какой кадр набора устройство подтвердило в последнем heartbeat' }
            displayBlocked: { type: boolean, description: 'true — после 2 таких перезагрузок heartbeat не отдаёт текущие кадры (защита от цикла перезагрузок)' }
            frameCount: { type: integer }
            refreshInterval: { type: integer, nullable: true, description: Из текущих кадров на сервере }
            deliveredRefreshInterval: { type: integer, nullable: true, description: 'Интервал, отданный с последним кадром, — на нём устройство сейчас работает' }
            live:
              allOf: [{ $ref: '#/components/schemas/LiveSession' }]
              description: 'Сессия быстрого heartbeat (POST /admin/devices/{id}/live)'
            pendingFactoryReset: { type: boolean }
            latestFirmwareVersion: { type: integer, description: Текущее LATEST_FIRMWARE_VERSION }
    DevicePatch:
      type: object
      additionalProperties: false
      properties:
        name: { type: string, maxLength: 128 }
        autoUpdate: { type: boolean }
        demoMode: { type: boolean }
    DevicePatchResponse:
      type: object
      properties:
        id: { type: string }
        name: { type: string, nullable: true }
        autoUpdate: { type: boolean }
        demoMode: { type: boolean }
    DeviceSettings:
      type: object
      additionalProperties: false
      properties:
        name: { type: string, maxLength: 128 }
        autoUpdate: { type: boolean }
        demoMode: { type: boolean }
    DeviceSettingsResponse:
      type: object
      properties:
        id: { type: string }
        name: { type: string, nullable: true }
        autoUpdate: { type: boolean }
        demoMode: { type: boolean }
    PendingDevice:
      type: object
      properties:
        id: { type: string }
        mac: { type: string }
        firmwareVersion: { type: string, nullable: true }
        ip: { type: string, nullable: true }
        firstSeen: { type: string, format: date-time }
        lastSeen: { type: string, format: date-time }
        attemptCount: { type: integer }
        status: { type: string }
    ApprovePendingRequest:
      type: object
      required: [tenantId]
      additionalProperties: false
      properties:
        tenantId: { type: string, maxLength: 64, example: tigermeter }
    # ---------- Heartbeat ----------
    HeartbeatRequest:
      type: object
      additionalProperties: false
      properties:
        battery: { type: integer }
        rssi: { type: integer }
        ip: { type: string }
        firmwareVersion: { type: string }
        uptimeSeconds: { type: integer }
        displayHash: { type: string, description: Хеш, который устройство считает актуальным }
        diag:
          type: object
          description: |
            Прошивка v38+: диагностика загрузки и памяти. Плоский объект, до 24 полей (строки до 120 символов);
            некорректное значение не отклоняет heartbeat, а просто не сохраняется. Отдаётся в `DeviceState.diagnostics`.
          properties:
            resetReason: { type: string, description: 'poweron / sw / panic / int_wdt / task_wdt / wdt / brownout / …' }
            prevStage: { type: string, description: 'Этап прошивки перед перезагрузкой (RTC): none / idle / hb_request / hb_read / hb_parse / frame_decode / frame_apply / render / led / ota' }
            psram: { type: boolean }
            psramSize: { type: integer }
            freePsram: { type: integer }
            freeHeap: { type: integer }
            minFreeHeap: { type: integer }
            maxAllocHeap: { type: integer }
            stackFree: { type: integer, description: Минимальный запас стека основной задачи, байт }
            frameBuffers: { type: integer, description: 'Выделено буферов кадров (8 с PSRAM, до 2 без неё)' }
            lastResponseBytes: { type: integer }
            lastError: { type: string, description: 'Последняя проблема с кадрами: too_large / json:… / no_buffer:i / bitmap_size:i:len / no_valid_frames:n' }
            lastRefresh: { type: string, description: 'v39+: как обновлён экран последним кадром — full / partial / skip (картинка не изменилась)' }
            lastRefreshMs: { type: integer, description: 'v39+: длительность этого обновления, мс' }
            partialSinceFull: { type: integer, description: 'v39+: частичных обновлений с последнего полного' }
            fullRefreshes: { type: integer, description: 'v39+: счётчики с загрузки' }
            partialRefreshes: { type: integer }
            skippedRefreshes: { type: integer }
          additionalProperties: true
    HeartbeatBase:
      type: object
      description: Hash совпал (или нет контента) — без кадров
      properties:
        ok: { type: boolean, example: true }
        autoUpdate: { type: boolean }
        demoMode: { type: boolean }
        latestFirmwareVersion: { type: integer }
        firmwareDownloadUrl: { type: string }
    HeartbeatWithFrames:
      allOf:
        - $ref: '#/components/schemas/HeartbeatBase'
        - type: object
          properties:
            frames:
              type: array
              items:
                $ref: '#/components/schemas/DisplayFrame'
              description: 'Ровно один текущий кадр (ротация на сервере, durationSec = 86400); пустой массив = «ожидание контента»'
            refreshInterval: { type: integer, description: 'Через сколько секунд прийти снова (до смены кадра, не больше refreshInterval из PUT)' }
            displayHash: { type: string, nullable: true, description: 'Хеш отданного кадра (для набора из одного кадра = displayHash набора); устройство присылает его в следующем heartbeat' }
    # ---------- Claims ----------
    ClaimCodeIssueRequest:
      type: object
      required: [mac, timestamp, hmac]
      additionalProperties: false
      properties:
        mac: { type: string, description: 'MAC адрес, формат AA:BB:CC:DD:EE:FF' }
        firmwareVersion: { type: string }
        ip: { type: string }
        timestamp: { type: integer, format: int64, description: 'Unix ms (±5 мин от времени сервера), участвует в HMAC' }
        hmac: { type: string, description: HMAC-SHA256(mac:firmwareVersion:timestamp) }
    ClaimCodeIssueResponse:
      type: object
      properties:
        code: { type: string, description: 6-значный код }
        expiresAt: { type: string, format: date-time }
    AttachRequest:
      type: object
      required: [externalUserId]
      additionalProperties: false
      properties:
        externalUserId: { type: string, maxLength: 128, description: Произвольный id пользователя клиента }
    AdminAttachRequest:
      type: object
      required: [tenantId]
      additionalProperties: false
      properties:
        tenantId: { type: string, maxLength: 64, description: 'Тенант из GET /admin/tenants (с manage-токеном, не staging)', example: tigermeter }
        externalUserId: { type: string, maxLength: 128, description: Необязательно }
    AttachResponse:
      type: object
      properties:
        deviceId: { type: string }
        message: { type: string, example: Attached }
        tenantId: { type: string }
    ClaimPollClaimed:
      type: object
      description: Одноразовый ответ; содержит секрет (только первый poll после attach)
      properties:
        deviceId: { type: string }
        deviceSecret: { type: string, description: Секрет в открытом виде (показывается один раз) }
        displayHash: { type: string, nullable: true }
        expiresAt: { type: string, format: date-time }
    # ---------- Admin ----------
    Tenant:
      type: object
      properties:
        tenantId: { type: string }
        scopes: { type: array, items: { type: string, enum: [ops, manage] } }
    MeResponse:
      type: object
      properties:
        tenantId: { type: string }
        scope: { type: string, enum: [ops, manage] }
    AdminSettings:
      type: object
      properties:
        autoProvisionNewDevices: { type: boolean }
        autoUpgradeOutdatedDevices:
          type: boolean
          description: Привязывать непривязанные устройства со старой прошивкой к тенанту `staging` для OTA
        latestFirmwareVersion:
          type: integer
          description: Текущее значение `LATEST_FIRMWARE_VERSION` (только чтение)
    AdminSettingsPatch:
      type: object
      additionalProperties: false
      properties:
        autoProvisionNewDevices: { type: boolean }
        autoUpgradeOutdatedDevices: { type: boolean }
