JWT_SECRET=<same-as-fly-io>
HMAC_KEY=tigermeter-prod-hmac-key-2026
LATEST_FIRMWARE_VERSION=3
FIRMWARE_DOWNLOAD_URL=https://rd1-io.github.io/tigermeter-api/firmware/prod
CORS_ALLOWED_ORIGINS=https://app-tiger.rd1.io
